body{
	background-color:#FFCC00;
	color:#000000;
	font-family:Georgia,Garamond,Serif;
}

h1,
h2,h3,h4,h5,h6
{
  color:#A4A400;
  background-color:#F0F0F0;
  font-family:Century Gothic, Futura, Verdana, sans-serif;
  letter-spacing: 2px;
}

h1,h2{
	text-align:center;
}

h3,h4,h5,h6{
	text-align:left;
	font-weight:bold;
	display:inline;
}

caption{
	font-weight:bold;
	color:#A4A400;
  background-color:#F0F0F0;
  letter-spacing: 5px;
}
table{
	background-color:#CC9933;
	margin-top:20px;
	border:2px;
	border-color:#ffffff;
	border-style:solid;
	 border-collapse: collapse;
	 
}
td{
	border:2px;
	border-color:#ffffff;
	border-style:solid;
	 border-collapse: collapse;
}
th{
	background-color:#003366;
	color:#ffffff;
	border:2px;
	border-color:#ffffff;
	border-style:solid;
	padding:5px;
	
}


.navbar-buttons > li{
	list-style-type:none;
	display: inline;
	padding-right:2%;
	padding-top:5px;
	padding-bottom:5px;
	border:2%;
	border-style:none;
	background-color:#000066;
	margin-right:4px;
	
}
.navbar-buttons > li>a{
	text-decoration:none;
	background-color:#eeffcc;
	padding-left:1%;
	padding-top:5px;;
	padding-right:1%;
	padding-bottom:5px;

}
.navbar{
	font-weight: bold;
	
	
}
.headsmall{
	display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
	letter-spacing: 5px;
}
.headbig{
	display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
	letter-spacing: 5px;
}
.left{
	float:left;
	padding-right:3%;
}